header{
    padding-top: 6rem;
    overflow: hidden;
}
.header_container{
    position: relative;
    display: flex;
}
.header_info{
    padding-top: 5rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:start;
    
}
.me{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}


/*  ============ Call to action btn================ */
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
/*  ============ banner social ================ */
.header_socials{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 3rem;
    font-size: 2em;
   
}
.header_socials::after{
    content: '';
    height: 5px;
    width: 3rem;
    background: var(--color-primary);
    margin-right: 1rem;
    
}
/*  ============scroll down ================ */
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/*  ============ banner img ================ */


/* ======== media queries for [medium devices]========= */

@media  screen and (max-width: 1024px) {
    .header_container{
       display: block;
    }
    .me{
        width: 100%;
    }
    .header_info{
        margin-top: 2rem;
        width: 100%;
    }
    .about_container {

        grid-template-columns: 1fr;
        gap: 0%;
      }
      .about_me{
          width: 50%;
          margin: 2rem auto 4rem;
      }
      .about_content p{
          margin: 1rem 0.5rem;

      }
    
}
/* ======== media queries for [mobile devices]========= */

@media  screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
    .about_me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;


    }
    .about_content{
        text-align: center;
    }
    .about_content p{
        margin: 1.5rem 0;
    }


}